<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
  </configSections>
  <log4net debug="false">
    <appender name="InfoLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Logs/log-file.txt" />
      <appendToFile value="true" />
      <encoding value="UTF-8" />
      <rollingStyle value="Composite" />
      <datePattern value="-yyyyMMdd'.log'" />
      <maxSizeRollBackups value="2" />
      <maximumFileSize value="20MB" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="DEBUG" />
        <levelMax value="WARN" />
      </filter>
    </appender>
    <appender name="ErrorLogFileAppender" type="log4net.Appender.RollingFileAppender">
      <file value="Logs/error-file.txt" />
      <appendToFile value="true" />
      <encoding value="UTF-8" />
      <rollingStyle value="Composite" />
      <maxSizeRollBackups value="2" />
      <datePattern value="-yyyyMMdd'.log'" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %level %logger - %message%newline" />
      </layout>
      <filter type="log4net.Filter.LevelRangeFilter">
        <levelMin value="ERROR" />
        <levelMax value="ERROR" />
      </filter>
    </appender>
    <root>
      <level value="ERROR" />
      <appender-ref ref="ErrorLogFileAppender" />
    </root>
    <logger name="GWSendMT">
      <level value="ALL" />
      <appender-ref ref="InfoLogFileAppender" />
    </logger>
  </log4net>
  <location path="." inheritInChildApplications="false">
    <system.webServer>
      <handlers>
        <add name="aspNetCore" path="*" verb="*" modules="AspNetCoreModuleV2" resourceType="Unspecified" />
      </handlers>
      <aspNetCore processPath="D:\GIT\GWSendMT\GWSendMT\bin\Debug\netcoreapp3.0\GWSendMT.exe" arguments="" stdoutLogEnabled="false" hostingModel="InProcess">
        <environmentVariables>
          <environmentVariable name="ASPNETCORE_ENVIRONMENT" value="Development" />
          <environmentVariable name="ASPNETCORE_HTTPS_PORT" value="44335" />
          <environmentVariable name="COMPLUS_ForceENC" value="1" />
        </environmentVariables>
      </aspNetCore>
    </system.webServer>
  </location>
</configuration>